<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ConnectionDB" connectionString="Data Source=DESKTOP-E3TUM5J;Initial Catalog=MovieRentalDB;Integrated Security=SSPI; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
